.partner_background{
	background:#b3d9ff;
	padding:20px;
}
.partner_text_head{
	color:#252525;
	font-size:46px;
	font-family:'banner_font';
	text-align:center;
}
.hr_line{
	height:3px;
	background:#3399ff;
	width:10%;
	
}
